
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');


/* black css color to css filter
https://codepen.io/sosuke/pen/Pjoqqp
*/

::-moz-selection { /* Code for Firefox */
    color: white;
    background: darkblue;
  }
  
  ::selection {
    color: white;
    background: darkblue;
  }

:root {
    --dark-blue: #7582df3f; /*3f4ba8*/ /*7582df*/
    --light-blue: #7582df;
    --padding-side: 150px;
    --header-footer-height: 150px;
    --padding-top: 20px;

    --gradient-top: rgba(48, 41, 56, 0.8);
    --gradient-bottom: rgba(17, 12, 40, 0.9);
    filter: grayscale(0.0);
}

@media screen and (max-width: 1000px) {
    :root {
        --padding-side: 75px;
        --header-footer-height: 100px;
        --padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --padding-side: 30px;
        --header-footer-height: 75px;
        --padding-top: 20px;
    }
}

html {
    background-color: black;
    font-family: 'Josefin Sans', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    height: 100%;
    font-size: x-large;
    line-height: 175%;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: medium;
    }
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#background-video {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: blur(8px) hue-rotate(69deg) contrast(6) saturate(0.69) brightness(0.42);
  }

.tinted-image {
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(var(--gradient-top), var(--gradient-bottom)),
      /* bottom, image */
      url('');
      
      


      background: linear-gradient(220deg, var(--gradient-top), var(--gradient-bottom))/*,
      url('https://assets.mixkit.co/videos/preview/mixkit-ink-swirling-in-blue-tones-underwater-229-large.mp4');*/;
      background-size: auto;
      background-blend-mode: multiply;
      background-position: bottom;
      background-attachment: fixed;
      
      width: 100%;
      margin: 0;
      padding: 0;
    
}

@media screen and (max-width: 600px) {
    .tinted-image{
        background: none;
    }
}

.content {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-top);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    min-height: calc(100vh - 2.5 * var(--header-footer-height));
}

header {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-top);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);
    height: var(--header-footer-height);
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: var(--dark-blue);
    border-width: 0px;
    border-bottom: 1px;
    border-color: var(--light-blue);
    border-style: solid;
    margin-bottom: 1em;
}


footer {
    background-color: var(--dark-blue);
    color: white;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-top);
    padding-left: var(--padding-side);
    padding-right: var(--padding-side);;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: justify;
    border-width: 0px;
    border-top: 1px;
    border-color: var(--light-blue);
    border-style: solid;
}

@media screen and (max-width: 800px){
    footer {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
    }
}

footer h4 {
    width: 300px;
}
footer h5 {
    width: 200px;
}

h1 {
    transition: color 200ms;
    color: var(--light-blue);
    display: block;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
}

h1:hover {
    /*text-shadow: 1px 1px 0px lightblue;*/
    color: white;
    cursor: pointer;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0, 0, 0);
    /*
    FIXME: Theres a hover bug in safari that chops off part of the text
    */

    display: block;
    
}

/* actual design */

.intro {
    width: 50%;
    max-width: 600px;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    .intro {
        width: 100%;
        max-width: fit-content;
    }
}

.intro h2 {
    text-align: left;
    color: var(--light-blue);
}

.infocard {
    background-color: #eee;
    color: #333355;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-top);
    padding-left: calc(var(--padding-side));
    padding-right: calc(var(--padding-side));
    background-size: 100%;
    overflow: hidden;
    text-align: justify;
    max-height: 1000px;
    transform: scaleY(100%);
    transition: transform 500ms, max-height 500ms, padding 500ms ease;
    margin-right: calc(-1.0 * var(--padding-side));
    margin-left: calc(-1.0 * var(--padding-side));
    
    box-shadow: inset 0px 0px 4px gray;

}

h1 {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*no category selection*/
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    transition: letter-spacing 500ms ease-out, color 500ms;
    font-size: 300%;
    line-height: 1.1em;
}

.hidden {
    max-height: 0;
    transform: scaleY(100%);
    padding-top: 0;
    padding-bottom: 0;
}

#team-members {
    color: var(--light-blue);
}

.categories {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 2em;
}

.active {
    letter-spacing: 2px;
    color: white;
}

h1, h2 {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

a {
    text-decoration: underline 2px;
    color: var(--light-blue);
    font-weight: bold;
    text-underline-offset: 0.1em;
    text-decoration-color: rgba(0, 0, 255, 0);
    text-underline-offset: 0.1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    cursor: pointer;
}

/* light emphase */
l {
    color: #bbb;
}

/* Safari 7.1+ because underline offset dosent work on chrome right now*/

_::-webkit-full-page-media, _:future, :root a {

    text-underline-offset: 0.2em;
  
  }

a:hover {
    text-decoration-color: var(--light-blue);
    text-underline-offset: 0.1em;
}


#navbar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    
}

@media screen and (max-width: 500px) {
    #navbar {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 20%;
        text-align: center;
    }
}

#navbar a {
    color: white;
    font-weight: 400;
}



.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.intro-image {
    display: flex;
    justify-content: center;
    width: 40%;
    height: max-content;
    max-width: 500px;
}

@media screen and (max-width: 1000px) {
    .intro-image {
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}

.intro-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    max-width: 500px;
    min-width: 100px;
    object-fit: cover;
    object-position: 30% 50%;
    filter: contrast(160%) saturate(120%) hue-rotate(30deg) brightness(150%);
}

.game {
    background-color: black;
    background-image: url('https://www.wallpaperflare.com/static/63/300/917/render-space-planet-spaceship-wallpaper.jpg');
    height: 300px;
    background-size: cover;
    color: white;
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0px 0px 4px 2px lightgray;
}

.game h2 {
    text-align: center;
    text-decoration: dotted;
    width: 100%;
}

#img-logo {
    max-width: 200px;
    max-height: auto;
    /*filter: invert(54%) sepia(13%) saturate(1917%) hue-rotate(195deg) brightness(95%) contrast(93%);
    */
    filter: invert(1) drop-shadow(0px 3px 3px var(--light-blue));
    transition: transform 300ms;

}

#img-logo:hover {
    transform: scale(105%);
}

@media screen and (max-width: 600px) {
    #img-logo{
        max-width: 150px;
    }
}